[Desktop Entry]
Name=airtun-ng
Encoding=UTF-8
Exec=sh -c "airtun-ng --help;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-02-wlan-exploitation;
