#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build -- sqlite=true unstable=true libnl=true

override_dh_auto_install:
	dh_auto_install -- prefix=/usr sqlite=true unstable=true libnl=true
